* {
  overscroll-behavior: none;
}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background-color: bisque;
}

h1 { 
  color: hsl(-87, 100%, 60%);
}

.body {
  min-height: 100vh;
  height: 100%;
}

.blue-button {
  color: black !important;
  background-color: hsl(213, 100%, 80%) !important;
}

.green-button {
  color: black !important;
  background-color: hsl(123, 100%, 80%) !important;
}

.red-button {
  color: black !important;
  background-color: hsl(-57, 100%, 80%) !important;
}